/* geral */
:root {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
  color: #444444;
}

a {
  color: #4154f1;
  text-decoration: none;
}

a:hover {
  color: #717ff5;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Nunito", sans-serif;
}

/* estrutura */
section {
  padding: 60px 0;
  overflow: hidden;
}

.section-header {
  text-align: center;
  padding-bottom: 40px;
}

@media (max-width: 768px) {
  .section-header p {
    font-size: 28px;
    line-height: 32px;
  }
}

/* botao topo */
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 99999;
  background: #F98C3E;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  transition: all 0.4s;
}

.back-to-top i {
  font-size: 24px;
  color: #fff;
  line-height: 0;
}

.back-to-top:hover {
  background: #6776f4;
  color: #fff;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/* Delay mobile */
@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}

/*header*/
.header {
  transition: all 0.5s;
  z-index: 997;
  padding: 20px 0;
}

.header.header-scrolled {
  background: #fff;
  padding: 15px 0;
  box-shadow: 0px 2px 20px rgba(1, 41, 112, 0.1);
}

.header .logo {
  line-height: 0;
}

.header .logo img {
  max-height: 40px;
  margin-right: 6px;
}

/*navbar*/

.navbar {
  padding: 0;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar li {
  position: relative;
}

.navbar a,
.navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 10px 30px;
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: black;
  white-space: nowrap;
  transition: 0.3s;
}

.navbar a i,
.navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>a {
  color: #F98C3E;
}

.mobile-nav-toggle {
  color: #012970;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}

.mobile-nav-toggle.bi-x {
  color: #fff;
}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }

  .navbar ul {
    display: none;
  }
}

.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(1, 22, 61, 0.9);
  transition: 0.3s;
}

.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}

.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  padding: 10px 0;
  border-radius: 10px;
  background-color: #fff;
  overflow-y: auto;
  transition: 0.3s;
}

.navbar-mobile a,
.navbar-mobile a:focus {
  padding: 10px 20px;
  font-size: 15px;
  color: #012970;
}

.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover>a {
  color: #4154f1;
}

.navbar-mobile .getstarted,
.navbar-mobile .getstarted:focus {
  margin: 15px;
}

.navbar-mobile .dropdown ul {
  position: static;
  display: none;
  margin: 10px 20px;
  padding: 10px 0;
  z-index: 99;
  opacity: 1;
  visibility: visible;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}

.navbar-mobile .dropdown ul li {
  min-width: 200px;
}

.navbar-mobile .dropdown ul a {
  padding: 10px 20px;
}

.navbar-mobile .dropdown ul a i {
  font-size: 12px;
}

.navbar-mobile .dropdown ul a:hover,
.navbar-mobile .dropdown ul .active:hover,
.navbar-mobile .dropdown ul li:hover>a {
  color: #4154f1;
}

.navbar-mobile .dropdown>.dropdown-active {
  display: block;
}

/*conteudo*/
.content h1 {
  margin: 0;
  font-size: 40px;
  font-weight: 700;
  color: black;
}

.content .title1 {
  padding-top: 30px;
  font-size: 40px;
  font-weight: 700;
  color: #F98C3E;
}

.description {
  color: #444444;
  margin: 15px 0 0 0;
  font-size: 22px;
}

.content h2 {
  color: black;
  font-size: 20px;
  padding-top: 10px;
}

.content .btn-get-started {
  margin-top: 30px;
  line-height: 0;
  padding: 15px 40px;
  border-radius: 4px;
  transition: 0.5s;
  color: black;
  border-color: black;
  /*box-shadow: 0px 5px 30px rgba(65, 84, 241, 0.4);*/
  border-style: ridge;
  border-radius: 30px;
  }

.content .btn-get-started span {
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 1px;
  color: #F98C3E;
}
/*.btn-text {
  
}*/

.content .btn-get-started i {
  margin-left: 5px;
  font-size: 18px;
  transition: 0.3s;
}

.content .btn-get-started:hover i {
  transform: translateX(5px);
}

.content .content-img {
  text-align: right;
}

@media (min-width: 1024px) {
  .content {
    background-attachment: fixed;
  }
}

@media (max-width: 991px) {
  .content {
    height: auto;
    padding: 120px 0 60px 0;
  }

  .content .content-img {
    text-align: center;
  
  }

  .content .content-img img {
    width: 80%;
  }
}

@media (max-width: 768px) {
  .content {
    text-align: center;
  }

  .content h1 {
    font-size: 32px;
  }

  .content h2 {
    font-size: 24px;
  }

  .content .content-img img {
    width: 100%;
  }
}
.img-fluid-content {
  padding-top: 180px;
}


/*equipe*/
.team {
  padding: 10px 20px;
  border-style: ridge;
  border-radius: 20px;
  display: block;
}

.profile{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(130%, -50%);
  height: 300px;
  width: 300px;
}

.about .content {
  background-color: #f6f9ff;
  padding: 40px;
}

.about h3 {
  font-size: 20px;
  font-weight: 700;
  color: #F98C3E;
  text-transform: uppercase;
}

.about h2 {
  font-size: 24px;
  font-weight: 700;
  color: black;
}

.about p {
  margin: 0 0 0 0;
  line-height: 24px;
  
}
.img-fluid-team {
  width: 300px;
}
.about .btn-read-more {
  line-height: 0;
  padding: 15px 40px;
  border-radius: 4px;
  transition: 0.5s;
  color: #fff;
  background: #4154f1;
  box-shadow: 0px 5px 25px rgba(65, 84, 241, 0.3);
}

.about .btn-read-more span {
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 1px;
}

.about .btn-read-more i {
  margin-left: 5px;
  font-size: 18px;
  transition: 0.3s;
}

.about .btn-read-more:hover i {
  transform: translateX(5px);
}

/*rodape*/
.footer {
  background: #f6f9ff;
  padding: 0 0 30px 0;
  font-size: 14px;
}

#footer-navbar{
 padding-right: 90px;
 margin: 0;
 display: flex;
 justify-content: center;
 font-weight: 100;
 font-family: Arial, Helvetica, sans-serif;
}

#footer-navbar a:hover,
#footer-navbar .active,
#footer-navbar .active:focus,
#footer-navbar li:hover>a {
  color: black;
}

.img-footer{
  padding: 0px 0px 10px 30px
}

.footer .copyright {
  text-align: center;
  padding-top: 30px;
  color: black;
}

.footer .credits {
  padding-top: 10px;
  text-align: center;
  font-size: 13px;
  color: black;
}